<h1>Your Twitter Tech South Feed</h1>
<p>Hello, <%= current_user.name %>!</p>





<div class="container">
<div class="row">
	<div class="md-col-2">
		<%= image_tag current_user.avatar.url(:thumb), class: "sm-user-avatar" %>
	</div>
	<div class="md-col-4">
		<%= form_tag('/user_profile') do %>
			<%= text_field_tag :message, nil, placeholder: "So what's that you say?", class: "placehold-text form-control", autofocus: true %><br />
			<span class="invisible"><%= number_field_tag :user_id, current_user.id %>
			<%= submit_tag "Tweet It!", class: "btn btn-primary" %></span>
		<% end %>
	</div>
</div>
<div>
	<% @tweets_for_feed.each do |f| %>
		<div class="row mbot-11">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-md-1">
						<%= image_tag f.user.avatar.url(:thumb), class: "sm-user-avatar" %>
					</div>
					<div class="col-md-10">
						<p><strong><em><%= link_to f.user.username, user_profile_path(user_id: f.user_id) %></em></strong></p>
						<p><%= f.message %></p>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>

<script>
$('[placeholder]').parents('form').submit(function() {
  $(this).find('[placeholder]').each(function() {
    var input = $(this);
    if (input.val() == input.attr('placeholder')) {
      input.val('');
    }
  })
});
</script>